<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student1.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student1.age %>
</p>

<p>
  <strong>Regno:</strong>
  <%= @student1.regno %>
</p>

<p>
  <strong>Course:</strong>
  <%= @student1.course %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student1.address %>
</p>

<p>
  <strong>Mobileno:</strong>
  <%= @student1.mobileno %>
</p>

<%= link_to 'Edit', edit_student1_path(@student1) %> |
<%= link_to 'Back', student1s_path %>
