<%= flash[:notice] %>
<h1>Student Page</h2>
<%= form_with url: "learner/new_learner",method: :post do |form| %>
<div class="field">
    <%= form.label :username%>
    <%= form.text_field :name%>
</div>
<div class="field">
    <%= form.label :age%>
    <%= form.number_field :age%>
</div>
<div class="field">
    <%= form.label :mark1%>
    <%= form.number_field :mark1%>
</div>
<div class="field">
    <%= form.label :mark2%>
    <%= form.number_field :mark2%>
</div>
<div class="field">
    <%= form.label :mark3%>
    <%= form.number_field :mark3%>
</div>
<div class="field">
    <%= form.label :grade%>
    <%= form.text_field :grade%>
</div>
<div class="action">
    <%= form.submit "SUBMIT" %>
</div>
<%end%>





